<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="{{{or site.url siteRootPath}}}">
        <span class="navbar-logo-text">{{site.title}}</span>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/usage/index.html">User Guide</a>
          <div class="navbar-dropdown">
            {{#each site.components.usage.latest.navigation}}
              {{#each items}}
                {{#if url}}
                  <a class="navbar-item" href="{{{url}}}">{{content}}</a>
                {{/if}}
              {{/each}}
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="unity/latest/quickstart/index.html">Developer Guide</a>
          <div class="navbar-dropdown">
            {{#each (componentSorter site.components page.attributes.reference-sort-order)}}
              <a class="navbar-item" href="{{{url}}}">{{title}}</a>
            {{/each}}
          </div>
        </div>
        &nbsp;
        &nbsp;
        <div id="search-field" class="field search hide-for-print">
          <input id="search-input" type="text" placeholder="Search"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item navbar-item-stretch">
        <div class="navbar-item">
          <a class="btn btn--teak" href="https://app.teak.io/" target="_blank">Dashboard</a>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
</header>
